<h1 align=center><font size = 5>Segmenting and Clustering Neighborhoods in Toronto</font></h1>

Before we get the data and start exploring it, let's download all the dependencies that we will need.

In [2]:
import numpy as np 
import pandas as pd
import io 
import requests 
print('Libraries imported.')

Libraries imported.

## Data gathering and cleaning

I am directly using pandas to scrape the table from Wikipedia because i think in this case BeautifulSoup would be an overfit for the job and **pd.read_html** just does it nicely. A visual inspection of the list of tables returned shows that our target is in first position, so that is why I take **tables[0]**; also, there is no need of joining neighborhoods with same postal code, nor we have any borough with 'Not assigned' neighborhood, probably because of recent updates on the table. A comma separator is anyway needed in place of the slash symbol.
I then redefine the column labels,drop the 'Not assigned' entries and return the dataframe's shape, as asked.

In [3]:
tables = pd.read_html('http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0,
                      keep_default_na=False)
df1=tables[0]
df1.columns=['PostalCode', 'Borough', 'Neighborhood']
df1=df1[~df1.Borough.str.contains("Not assigned")].reset_index(drop=True)
df1['Neighborhood'] = df1['Neighborhood'].str.replace(' /',',')
df1=df1.sort_values(by=['PostalCode']).reset_index(drop=True)

In [4]:
df1.shape

(103, 3)

The csv containing coordinates are converted to a dataframe and concatenated to the wikipedia-derived one.

In [5]:
url="https://cocl.us/Geospatial_data"
req=requests.get(url).content
df2=pd.read_csv(io.StringIO(req.decode('utf-8')))
df2=df2.sort_values(by=['Postal Code']).reset_index(drop=True)

In [6]:
df=pd.concat([df1,df2],axis=1)
df=df.drop(['Postal Code'], axis=1)
df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054